body {
  background-image: url(/004/web-seite/justanotherexcersise/src/Universität-Odessa-2048x1536.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  border: 5px;
  border-radius: 10px;
}

h1:hover {
  color: gold;
  background-color: maroon;
}

.odessa {
  display: inline-block;
  align-items: center;
  border: 5px;
}

.klein-box {
  width: 80%;
  height: auto;
  background-color:maroon;
  opacity: 0.85;
  border: 3px;
  border-radius: 10px;
  margin: 20px;
  padding: 5px;
  color: aliceblue;
}

h2 {
  color: gold;
}

a {
  color: gold;
}

a:hover {
  color:bisque;
}

a:visited {
  color: aliceblue;
}